<h1>Add a State here!</h1>

<form method="post" action="/states">
	<div class="form-group">
		<label for="State">State:</label>
		<input type="text" id="State" name="State" />
	</div>
	<div class="form-group">
		<label for="Abrv">Abbreviation:</label>
		<input type="text" id="Abrv" name="Abrv" />
	</div>
	<button type="submit">Add State</button>
</form>